{# _album_detail_view.html.twig #}

<div class="gc-album-detail-view" data-album-level="{{ level }}">
    <div class="gc-album-detail-inner">

        {% if insertArticlePre %}
            <div class="gc-album-detail-article-box-pre">
                {{ insertArticlePre|raw }}
            </div>
        {% endif %}

        {% if backLink %}
            <div class="gc-album-detail-back-link">
                <a href="{{ backLink }}" title="{{ 'GALLERY_CREATOR.backLink'|trans({}, 'contao_default') }}">{{ 'GALLERY_CREATOR.backLink'|trans({}, 'contao_default') }}</a>
            </div>
        {% endif %}

        {% if album.name is defined and not album.name is empty %}
            <h2 class="gc-album-detail-name">{{ album.name }}</h2>
        {% endif %}

        {% if album.dateFormatted is defined and not album.dateFormatted is empty %}
            <p class="gc-album-detail-date">{{ album.dateFormatted }}</p>
        {% endif %}

        {% if album.location is defined and not album.location is empty %}
            <p class="gc-album-detail-location">{{ album.location }}</p>
        {% endif %}

        {% if album.hasChildAlbums %}
            <p class="gc-album-detail-child-albums">{{ album.countChildAlbums }} {{ 'GALLERY_CREATOR.childAlbums'|trans({}, 'contao_default') }}</p>
        {% endif %}

        {% if album.captionType == 'markdown' and album.markdownCaption %}
            <div class="gc-album-detail-caption">{{ album.markdownCaption|raw }}</div>
        {% elseif album.caption %}
            <div class="gc-album-detail-caption">{{ album.caption|raw|nl2br }}</div>
        {% endif %}

        {{ detailPagination|raw }}

        {% if arrPictures %}
            <ul class="gc-album-detail-picture-list">
                {% for picture in arrPictures %}
                    <li class="gc-album-detail-picture-list-item">
                        {{ contao_figure(picture.figureUuid, picture.figureSize, picture.figureOptions) }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if insertArticlePost %}
            <div class="gc-album-detail-article-box-pre">
                {{ insertArticlePost|raw }}
            </div>
        {% endif %}
    </div>
</div>
