{# component/_album_list_view.html.twig #}
{% use "@Contao_MarkocupicGalleryCreatorBundle/component/_album.html.twig" %}

{% block album_list_view %}
    <!-- indexer::stop -->
<div{{ attrs(album_list_view_attributes|default).addClass('gc-album-list-view') }}>
    {% block album_list_pagination %}
        {{ listPagination|raw }}
    {% endblock %}

    {% block album_list %}
        {% set album_list_tag = album_list_tag|default('ul') %}
        <{{ album_list_tag }}{{ attrs(album_list_attributes|default).addClass('gc-album-list') }}>
        {% for album in albums %}
            {% set album_list_item_tag = album_list_item_tag|default('li') %}
            {% set album_list_item_attributes = attrs(album_list_item_attributes|default)
                .addClass('gc-album-list-item')
                .set('data-id', album.id) %}

            {% if album.cssClass|default %}
                {% set album_list_item_attributes = attrs(album_list_item_attributes|default).addClass(album.cssClass) %}
            {% endif %}

            <{{ album_list_item_tag }}{{ album_list_item_attributes }}>
            {% with {album: album} %}
                {#
                Here comes the album component 'component/_album.html.twig'
                Do your modifications just below!
                #}
                {{ block('album_component') }}
            {% endwith %}
            </{{ album_list_item_tag }}>
        {% endfor %}
        </{{ album_list_tag }}>
    {% endblock %}
    </div>
    {% block album_list_script %}
        {# Add your javascript here. #}
    {% endblock %}
    <!-- indexer::continue -->
{% endblock %}
