<div class="widget long gc-album-info-table">
    <p>&nbsp;</p>
    <table>
        <tr>
            <td style="width:25%"><strong>{{ trans.album_id }}: </strong></td>
            <td>{{ album_id }}</td>
        </tr>
        <tr>
            <td><strong>{{ trans.album_date }}: </strong></td>
            <td>{{ album_date_formatted }}</td>
        </tr>
        <tr>
            <td><strong>{{ trans.album_owners_name }}: </strong></td>
            <td>{{ album_owners_name }}</td>
        </tr>
        <tr>
            <td><strong>{{ trans.album_name }}: </strong></td>
            <td>{{ album_name }}</td>
        </tr>
        <tr>
            <td><strong>{{ trans.album_caption }}: </strong></td>
            <td>{{ album_caption|raw }}</td>
        </tr>
        <tr>
            <td><strong>{{ trans.album_thumb }}: </strong></td>
            <td>{{ album_thumb }}</td>
        </tr>
    </table>
</div>

