<div class="{% if not css_class is empty %}{{ css_class }} {% endif %}widget gc-image-info-table">
    <h3><label for="ctrl_thumb">{{ trans.picture_info }}</label></h3>
    <table>
        <tr>
            <td style="width:20%"><strong>{{ trans.picture_id }}: </strong></td>
            <td>{{ model.id }}</td>
        </tr>
        <tr>
            <td><strong>{{ trans.picture_path }}: </strong></td>
            <td>{{ model.path }}</td>
        </tr>
        <tr>
            <td><strong>{{ trans.picture_filename }}: </strong></td>
            <td>{{ model.filename }}</td>
        </tr>
        <tr>
            <td><strong>{{ trans.picture_date }}: </strong></td>
            <td>{{ model.date_formatted }}</td>
        </tr>
        <tr>
            <td><strong>{{ trans.picture_owner }}: </strong></td>
            <td>{{ model.owner_name }}</td>
        </tr>
        <tr>
            <td><strong>{{ trans.picture_title }}: </strong></td>
            <td>{{ model.title }}</td>
        </tr>
        {% if model.socialMediaSRC %}
            <tr>
                <td><strong>{{ trans.picture_video_href_social }}: </strong></td>
                <td>{{ model.video_href_social }}</td>
            </tr>
        {% endif %}
        {% if model.localMediaSRC %}
            <tr>
                <td><strong>{{ trans.picture_video_href_local }}: </strong></td>
                <td>{{ model.video_href_local }}</td>
            </tr>
        {% endif %}
    </table>
</div>
